{{template "base/head" .}}
<div class="ui container center">
	<div class="error align">
		<img height="200px" src="https://cdn.jsdelivr.net/npm/gitote@1.1.0/img/404.svg" alt="404"/>
	</div>
	<form class="ui form" action="{{AppSubURL}}/explore/repos" method="get">
		<div class="ui fluid action input">
			<input type="text" name="q" placeholder="{{.i18n.Tr "explore.search"}}..." required autofocus>
			<button class="ui blue button">{{.i18n.Tr "explore.search"}}</button>
		</div>
	</form>
	<div class="ui center links error footer">
		<a href="{{AppURL}}contact"><span>Contact Support</span></a>
		<span>—</span>
		<a href="{{AppURL}}status"></i><span>Gitote Status</span></a>
		<span>—</span>
		<a href="http://twitter.com/gitotestatus"><span>@gitotestatus</span></a>
	</div>
	<div class="ui center links">
		<img class="error image" src="https://cdn.jsdelivr.net/npm/gitote@1.0.1/logo.png">
	</div>
</div>
{{template "base/footer" .}}
