<div class="ui stackable grid container home-footer home-main padding">
	<div class="seven wide right floated column">
		<span class="ui header"><img src="https://cdn.jsdelivr.net/npm/gitote@1.0.1/logo.png">© 2018 Gitote</span>
	</div>
	<div class="two wide column">
		<h4 class="ui header explore-card font">Product</h4>
		<div class="ui link list">
			<a class="item" href="{{AppURL}}features">Features</a>
			<a class="item" href="{{AppURL}}security">Security</a>
			<a class="item" href="{{AppURL}}resources">Resources</a>
			<a class="item" href="{{AppURL}}case-studies">Case studies</a>
		</div>
	</div>
	<div class="two wide column">
		<h4 class="ui header explore-card font">Platform</h4>
		<div class="ui link list">
			<a class="item" href="{{AppURL}}developers">API</a>
			<a class="item" href="{{AppURL}}partners">Partners</a>
			<a class="item" href="{{AppURL}}jobs">Careers</a>
		</div>
	</div>
	<div class="two wide column">
		<h4 class="ui header explore-card font">Support</h4>
		<div class="ui link list">
			<a class="item" href="{{AppURL}}help">Help</a>
			<a class="item" href="https://community.gitote.in">Community Forum</a>
			<a class="item" href="{{AppURL}}training">Training</a>
			<a class="item" href="https://status.gitote.in">Status</a>
			<a class="item" href="{{AppURL}}contact">Contact</a>
		</div>
	</div>
	<div class="two wide column">
		<h4 class="ui header explore-card footer-font">Company</h4>
		<div class="ui link list">
			<a class="item" href="{{AppURL}}about">About</a>
			<a class="item" href="https://blog.gitote.in">Blog</a>
			<a class="item" href="{{AppURL}}jobs">Careers</a>
			<a class="item" href="{{AppURL}}press">Press</a>
			<a class="item" href="{{AppURL}}brand">Brand</a>
			<a class="item" href="{{AppURL}}shopt">Shop</a>
		</div>
	</div>
</div>
