<div class="pages bg">
    {{template "base/head" .}}
    <div class="pages head">
        <p class="text">💬 Contact Gitote 💬</p>
    </div>
    <div class="pages body">
        <form class="ui form contact">
            <div class="statuscontact"></div>
            <div class="field">
                <label>How can we help?</label>
                <div class="ui fluid selection dropdown color">
                    <input type="hidden" name="user">
                    <i class="dropdown icon"></i>
                    <div class="default text">Select type</div>
                    <div class="menu">
                        <div class="item" data-value="help">Get Help with Gitote</div>
                        <div class="item" data-value="abuse">Report Abuse</div>
                        <div class="item" data-value="content">Report Content</div>
                        <div class="item" data-value="dmca">Copyright claims (DMCA)</div>
                        <div class="item" data-value="privacy">Privacy concerns</div>
                    </div>
                </div>
            </div>
            <div class="field">
                <label>Name</label>
                <input class="color" value="{{.LoggedUser.FullName}}" type="text" placeholder="Your Name">
            </div>
            <div class="field">
                <label>Email</label>
                <input class="color" value="{{.LoggedUser.Email}}" type="email" placeholder="Email">
            </div>
            <div class="field">
                <label>Subject</label>
                <input class="color" type="text" placeholder="Enter the Purpose">
            </div>
            <div class="field">
                <label>Enter the message</label>
                <textarea class="color"></textarea>
            </div>
            <p class="ui left desc">
                Gitote Support can only provide assistance for the Gitote platform.
                <br/>
                For project-specific support, check the project’s README file.
            </p>
            <button class="ui button green right" type="submit">Submit</button>
        </form>
    </div>
    {{template "base/footer" .}}
</div>
