{{template "base/head" .}}
<div class="user signup home-main gradient-bg">
	<div class="ui middle very relaxed page grid">
		<div class="column">
			<form class="ui form" action="{{.Link}}" method="post">
				{{.CSRFTokenHTML}}
				<h3 class="ui center">
					<img height="50px" src="https://cdn.jsdelivr.net/npm/gitote@1.0.1/logo.png">
				</h3>
				<h3 class="ui center">
					{{.i18n.Tr "sign_up"}}
				</h3>
				<div class="ui attached segment prompt box">
					{{template "base/alert" .}}
					{{if .DisableRegistration}}
						<p>{{.i18n.Tr "auth.disable_register_prompt"}}</p>
					{{else}}
						<div class="required inline field {{if .Err_UserName}}error{{end}}">
							<label for="user_name">{{.i18n.Tr "username"}}</label>
							<input id="user_name" name="user_name" value="{{.user_name}}" autofocus required>
						</div>
						<div class="required inline field {{if .Err_Email}}error{{end}}">
							<label for="email">{{.i18n.Tr "email"}}</label>
							<input id="email" name="email" type="email" value="{{.email}}" required>
						</div>
						<div class="required inline field {{if .Err_Password}}error{{end}}">
							<label for="password">{{.i18n.Tr "password"}}</label>
							<input id="password" name="password" type="password" value="{{.password}}" required>
						</div>
						<div class="required inline field {{if .Err_Password}}error{{end}}">
							<label for="retype">{{.i18n.Tr "re_type"}}</label>
							<input id="retype" name="retype" type="password" value="{{.retype}}" required>
						</div>
						{{if .EnableCaptcha}}
							<div class="inline field">
								<label></label>
								{{.Captcha.CreateHtml}}
							</div>
							<div class="required inline field {{if .Err_Captcha}}error{{end}}">
								<label for="captcha">{{.i18n.Tr "captcha"}}</label>
								<input id="captcha" name="captcha" value="{{.captcha}}" autocomplete="off">
							</div>
						{{end}}

						<div class="inline field">
							<label></label>
							<button class="ui green button">{{.i18n.Tr "auth.create_new_account"}}</button>
						</div>
						<div class="inline field">
							<label></label>
							<a href="{{AppSubURL}}/login">{{.i18n.Tr "auth.register_hepler_msg"}}</a>
						</div>
					{{end}}
				</div>
			</form>
		</div>
	</div>
</div>
{{template "base/footer" .}}
