{{template "base/head" .}}
<div class="user settings delete">
	<div class="ui container">
		<div class="ui grid">
			{{template "user/settings/navbar" .}}
			<div class="twelve wide column content">
				{{template "base/alert" .}}
				<h4 class="ui top attached warning header">
					{{.i18n.Tr "settings.delete_account"}} 🗑️
				</h4>
				<div class="ui attached warning segment">
					<div class="ui red message">
						<p class="text left"><i class="octicon octicon-alert"></i> {{.i18n.Tr "settings.delete_prompt" | Str2html}}</p>
					</div>
					<form class="ui form" id="delete-form" action="{{.Link}}" method="post">
						{{.CSRFTokenHTML}}
						<input class="fake" type="password">
						<div class="required field {{if .Err_Password}}error{{end}}">
							<label for="password">{{.i18n.Tr "password"}}</label>
							<input id="password" name="password" type="password" autofocus required>
						</div>
						<div class="ui red button delete-button" data-type="form" data-form="#delete-form">
							{{.i18n.Tr "settings.confirm_delete_account"}}
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="ui small basic delete modal">
	<div class="ui icon header">
		<i class="trash icon"></i>
		{{.i18n.Tr "settings.delete_account_title"}}
	</div>
	<div class="content">
		<p>{{.i18n.Tr "settings.delete_account_desc"}}</p>
	</div>
	{{template "base/delete_modal_actions" .}}
</div>
{{template "base/footer" .}}
