{{template "base/head" .}}
<div class="user settings sshkeys">
	<div class="ui container">
		<div class="ui grid">
			{{template "user/settings/navbar" .}}
			<div class="twelve wide column content">
				{{template "base/alert" .}}
				<h4 class="ui top attached header">
					{{.i18n.Tr "settings.manage_ssh_keys"}} 🔑
					<div class="ui right">
						<div class="ui blue tiny show-panel button" data-panel="#add-ssh-key-panel">{{.i18n.Tr "settings.add_key"}}</div>
					</div>
				</h4>
				<div class="ui attached segment">
					<div class="ui key list">
						<div class="item">
							{{.i18n.Tr "settings.ssh_desc"}}
						</div>
						{{range .Keys}}
							<div class="item ui grid">
								<div class="one wide column">
									<i class="ssh-key-state-indicator fa fa-circle{{if .HasRecentActivity}} active invert poping up{{else}}-o{{end}}" {{if .HasRecentActivity}}data-content="{{$.i18n.Tr "settings.key_state_desc"}}" data-variation="inverted tiny"{{end}}></i>
								</div>
								<div class="one wide column">
									<i class="mega-octicon octicon-key left"></i>
								</div>
								<div class="ten wide column">
									<strong>{{.Name}}</strong>
									<div class="print meta">
										{{.Fingerprint}}
									</div>
									<div class="activity meta">
										<i>{{$.i18n.Tr "settings.add_on"}} <span>{{DateFmtShort .Created}}</span> —  <i class="octicon octicon-info"></i> {{if .HasUsed}}{{$.i18n.Tr "settings.last_used"}} <span>{{DateFmtShort .Updated}}</span>{{else}}{{$.i18n.Tr "settings.no_activity"}}{{end}}</i>
									</div>
								</div>
								<div class="right floated button">
									<button class="ui red tiny basic button delete-button" data-url="{{$.Link}}/delete" data-id="{{.ID}}">
										{{$.i18n.Tr "settings.delete_key"}}
									</button>
								</div>
							</div>
						{{end}}
					</div>
				</div>
				<br>
				<p>{{.i18n.Tr "settings.ssh_helper" "https://help.github.com/articles/generating-ssh-keys" "https://help.github.com/ssh-issues/" | Str2html}}</p>
				<div {{if not .HasError}}class="hide"{{end}} id="add-ssh-key-panel">
					<h4 class="ui top attached header">
						{{.i18n.Tr "settings.add_new_key"}}
					</h4>
					<div class="ui attached segment">
						<form class="ui form" action="{{.Link}}" method="post">
							{{.CSRFTokenHTML}}
							<div class="field {{if .Err_Title}}error{{end}}">
								<label for="title">{{.i18n.Tr "settings.key_name"}}</label>
								<input id="title" name="title" value="{{.title}}" autofocus required>
							</div>
							<div class="field {{if .Err_Content}}error{{end}}">
								<label for="content">{{.i18n.Tr "settings.key_content"}}</label>
								<textarea id="content" name="content" required>{{.content}}</textarea>
							</div>
							<button class="ui green button">
								{{.i18n.Tr "settings.add_key"}}
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="ui small basic delete modal">
	<div class="ui icon header">
		<i class="trash icon"></i>
		{{.i18n.Tr "settings.ssh_key_deletion"}}
	</div>
	<div class="content">
		<p>{{.i18n.Tr "settings.ssh_key_deletion_desc"}}</p>
	</div>
	{{template "base/delete_modal_actions" .}}
</div>
{{template "base/footer" .}}
