<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{{.Username}}, please verify your e-mail address</title>
</head>

<body>
	<p>Hi <b>{{.Username}}</b>,</p>
	<p>Please click the following link to verify your email address within <b>{{.ActiveCodeLives}} hours</b>:</p>
	<p><a href="{{AppURL}}user/activate_email?code={{.Code}}&email={{.Email}}">{{AppURL}}user/activate_email?code={{.Code}}&email={{.Email}}</a></p>
	<p>Not working? Try copying and pasting it to your browser.</p>
	<p>© 2018 <a target="_blank" rel="noopener noreferrer" href="{{AppURL}}">Gitote</a></p>
</body>
</html>
