<style>
body {
    background: white;
    margin:0;
    padding:0;
}
.preview-div-wrapper {
    overflow: hidden;
    position:relative;
}
.preview-div {
    background: #fff;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position:relative;
}
.preview-info-header {
    color: black;
    margin: 2vw auto 0vw;
    font-family:  "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 3.5vw;
    width: 92%;
}
.preview-info-header img {
    height: 2.5vw;
    vertical-align: -0.15vw;
    margin-left: 1vw;
    margin-right: 0.5vw;
}
h1 {
    color: #29179e;
    width: 92%;
    margin: 1vw auto;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.preview-user {
    font-size: 3.5vw;
    position: absolute;
    background: #BBFAE9;
    left: 1.5vw;
    bottom: 1.5vw;
    padding: 1vw 3vw;
    padding-left: 1.2vw;
    font-weight: 500;
    border-radius: 100vw;
}
.preview-user img {
    border-radius: 100vw;
    height: 5vw;
    width: 5vw;
    vertical-align: -1.3vw;
    border: 0.25vw solid #29179e;
}
    .preview-gitote-logo {
    position:absolute;
    bottom: 2.1vw;
    right: 2.1vw;
    text-align:right;
}
.logo {
    height:6vw;
    fill: #29179e;
}
.button {
color: #303030;
    position: relative;
    margin-bottom: 1vh;
    display: inline-block;
    padding: 3vh 4vh;
    font-size: 5vh;
    text-decoration: none;
    font-weight: 600;
    vertical-align: middle;
    border-radius: 0.25em;
}
.follow {
    border: 0.7vh solid #28a745;
}
.unfollow {
    border: 0.7vh solid #ff1818;
}

</style>
<div class="preview-div-wrapper">
    <div class="preview-div">
        <div class="preview-info-header">
            @{{.Owner.Name}}
            👣 {{.Owner.NumFollowing}}
            🙌 {{.Owner.NumFollowers}}
            {{if and .IsLogged (ne .LoggedUserName .Owner.Name)}}
                {{if .LoggedUser.IsFollowing .Owner.ID}}
                    <a class="button unfollow" href="{{AppURL}}{{.Owner.Name}}" target="_blank">👦🏽 {{.i18n.Tr "user.unfollow"}}</a>
                {{else}}
                    <a class="button follow" href="{{AppURL}}{{.Owner.Name}}" target="_blank">👦 {{.i18n.Tr "user.follow"}}</a>
                {{end}}
            {{end}}
        </div>
        <h1 style="font-size:3.6vw;">{{.Owner.Description}}<h1>
        <div class="preview-user">
            <img src="{{AppendAvatarSize .Owner.RelAvatarLink 290}}" />
            {{.Owner.FullName}} {{if .Owner.IsVerified}}✓{{end}}
            ・{{DateFmtShort .Owner.Created}}
        </div>
        <div class="preview-gitote-logo">
            <img style="width:5vw" src="https://cdn.jsdelivr.net/npm/gitote@1.0.1/logo.png" />
        </div>
    </div>
</div>
