{{if .Owner.ShowAds}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitote@1.2.5/css/ads.css">
    <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?serve=CK7D52J7&placement=gitotein" id="_carbonads_js"></script>
{{end}}
