<div class="ui segment container home-main prompt">
    <h3 class="ui center aligned header">
        {{if .PageIsUserProfile}}
            Create your own Gitote profile
        {{end}}
        {{if .PageIsOrgHome}}
            Grow your team on Gitote
        {{end}}
        {{if or .PageIsRepoHome .PageIsRepoWiki}}
            Join Gitote today
        {{end}}
    </h3>
    <h5 class="ui center aligned header home-desc">
        {{if .PageIsUserProfile}}
            Sign up for your own profile on Gitote, the best place to host code, manage projects, 
			and build software alongside with tons of developers.
        {{end}}
        {{if .PageIsOrgHome}}
            Gitote is home for developers working together. Join them to grow your own development 
            teams, manage permissions, and collaborate on projects.
        {{end}}
        {{if or .PageIsRepoHome .PageIsRepoWiki}}
            Gitote is home for developers working together to host and review code, manage projects, 
            and build software together.
        {{end}}
    </h5>
    <div class="ui center aligned header">
        <a class="ui green button" href="{{AppURL}}join">
            Sign up
        </a>
    </div>
</div>
