{{template "base/head" .}}
<div class="organization settings options">
	{{template "org/header" .}}
	<div class="ui container">
		<div class="ui grid">
			{{template "org/settings/navbar" .}}
			<div class="twelve wide column content">
				{{template "base/alert" .}}
				<h4 class="ui top attached header">
					{{.i18n.Tr "org.settings.options"}} ⚙️
				</h4>
				<div class="ui attached segment">
					<form class="ui form" action="{{.Link}}" method="post">
						{{.CSRFTokenHTML}}
						<div class="required field {{if .Err_Name}}error{{end}}">
							<label for="org_name">{{.i18n.Tr "org.org_name_holder"}}<span class="text red hide" id="org-name-change-prompt"> {{.i18n.Tr "org.settings.change_orgname_prompt"}}</span></label>
							<input id="org_name" name="name" value="{{.Org.Name}}" data-org-name="{{.Org.Name}}" autofocus required>
						</div>
						<div class="field {{if .Err_FullName}}error{{end}}">
							<label for="full_name">{{.i18n.Tr "org.org_full_name_holder"}}</label>
							<input id="full_name" name="full_name" value="{{.Org.FullName}}">
						</div>
						<div class="field {{if .Err_Description}}error{{end}}">
							<label for="description">{{$.i18n.Tr "org.org_desc"}}</label>
							<textarea id="description" name="description" rows="2">{{.Org.Description}}</textarea>
						</div>
						<div class="field {{if .Err_Website}}error{{end}}">
							<label for="website">{{.i18n.Tr "org.settings.website"}}</label>
							<input id="website" name="website" type="url" value="{{.Org.Website}}">
						</div>
						<div class="field">
							<label for="location">{{.i18n.Tr "org.settings.location"}}</label>
							<input id="location" name="location"  value="{{.Org.Location}}">
						</div>

						{{if .LoggedUser.IsAdmin}}
						<div class="ui divider"></div>

						<div class="inline field {{if .Err_MaxRepoCreation}}error{{end}}">
							<label for="max_repo_creation">Maximum Repository Creation Limit</label>
							<input id="max_repo_creation" name="max_repo_creation" type="number" value="{{.Org.MaxRepoCreation}}">
							<p class="help">(Set -1 to use global default limit)</p>
						</div>
						
						<div class="ui divider"></div>

						<div class="inline field">
							<div class="ui checkbox">
								<label><strong>This organization is verified</strong>  <span style="padding:3px" class="ui green basic label tiny">Verified</span></label>
								<input name="is_verified" type="checkbox" {{if .Org.IsVerified}}checked{{end}}>
							</div>
						</div>
						{{end}}

						<div class="field">
							<button class="ui green button">{{$.i18n.Tr "org.settings.update_settings"}}</button>
						</div>
					</form>

					<div class="ui divider"></div>

					<form class="ui form" action="{{.Link}}/avatar" method="post" enctype="multipart/form-data">
						{{.CSRFTokenHTML}}
						<div class="inline field">
							<label for="avatar">{{.i18n.Tr "settings.choose_new_avatar"}}</label>
							<input name="avatar" type="file" >
						</div>

						<div class="field">
							<button class="ui green button">{{$.i18n.Tr "settings.update_avatar"}}</button>
							<a class="ui red button delete-post" data-request-url="{{.Link}}/avatar/delete" data-done-url="{{.Link}}">{{$.i18n.Tr "settings.delete_current_avatar"}}</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{{template "base/footer" .}}
