.admin {
	padding-top: @15;
	padding-bottom: @footer-margin * 2;

	.table.segment {
		padding: 0;
		font-size: 13px;

		&:not(.striped) {
			padding-top: @5;

			thead {
				th:last-child {
					padding-right: @5 !important;
				}
			}
		}

		th {
			padding-top: @5;
			padding-bottom: @5;
		}

		&:not(.select) {
			th, td {
				&:first-of-type {
					padding-left: @15 !important;
				}
			}
		}
	}

	&.user {
		.email {
			max-width: 200px;
		}
	}

	dl.admin-dl-horizontal {
		padding: @20;
		margin: 0;

		dd {
			margin-left: 240px;
		}
		dt {
			font-weight: bolder;
			float: left;
			width: 250px;
			clear: left;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}

	&.config {
		#test-mail-btn {
			margin-left: @5;
		}
		table tbody tr td:first-child {
			font-weight: bold;
		}
		pre {
			background-color: #f7f7f7;
			padding: @5;
		}
		code {
			color: #db2828;
			line-height: 1;
		}
		.log-config {
			table tbody tr td {
				&:first-child {
					width: 100px;
				}
			}
		}
	}
	&.indication {
		font-size: @10;
    	text-align: center !important;
	}
}

.sitestatus {
	padding: 1em;

	div {
		padding: 1em;
	}
}

.adminbar {
	&.main {
		background-color: #2f363c;
		border-bottom: 1px solid #454e57;
		height: 41px;
	}
	&.text {
		padding: @5 0 !important;
		color: #fff !important;
		font-size: 13px !important;
	}
	&.embed {
		background: @primary;
		padding: 3px @5;
		border-radius: 4px;
		margin: @5 3px;
		font-size: 11px;
	}
	&.branch {
		margin-left: -@5;
	}
	&.logo {
		width: 13px !important;
		margin-top: -1px !important;
		margin-left: @5;
		margin-right: 1px;
	}
	&.align {
		margin-right: @5;
	}
	&.divider {
		border-left: 1px solid #ababab;
		margin-right: @10;
	}
}

.admin-badge {
	font-size: 10px !important;
}

// Mobile
@media (max-width: 1020px) {
	.render-time {
		display: none !important;
	}
}
