.form {
	.help {
		color: #999999;
	  	padding-top: .6em;
	  	padding-bottom: .6em;
		display: inline-block;
		word-break: break-word;
	}
}

.ui.attached.header {
	background: #f0f0f0;
	.right {
		margin-top: -5px;
		.button {
			padding: 8px @10;
			font-weight: normal;
		}
	}
}

@create-page-form-input-padding: 250px !important;
#create-page-form {
	form {
		margin: auto;
		width: 800px!important;
		.ui.message {
			text-align: center;
		}
		.header {
			padding-left: @create-page-form-input-padding+30px;
		}
		.inline.field > label {
			text-align: right;
			width: @create-page-form-input-padding;
			word-wrap: break-word;
		}
		.help {
			margin-left: @create-page-form-input-padding+15px;
		}
		.optional .title {
			margin-left: @create-page-form-input-padding;
		}
		input,
		textarea {
			width: 50% !important;
		}
	}
}

.user.activate,
.user.forgot.password,
.user.reset.password,
.user.signin,
.user.signup {
	@input-padding: 200px !important;
	#create-page-form;
	form {
		width: 700px !important;
		.header {
			padding-left: @input-padding+30px;
		}
		.inline.field > label {
			width: @input-padding;
		}
	}
}

.user.signin.two-factor {
	form {
		width: 300px !important;
		.header {
			padding-left: inherit !important;
		}
	}
}

.repository {
	&.new.repo,
	&.new.migrate,
	&.new.fork {
		#create-page-form;
		form {
			.dropdown {
				.dropdown.icon {
					margin-top: -7px!important;
				}
				.text {
					margin-right: 0!important;
					i {
						margin-right: 0!important;
					}
				}
			}
		}
	}

	&.new.repo {
		.ui.form {
			.selection.dropdown:not(.owner) {
				width: 50%!important;
			}
			#auto-init {
				margin-left: @create-page-form-input-padding+@15;
			}
		}
	}
}

.new.webhook {
	form {
		.help {
			margin-left: 25px;
		}
	}
}

.new.webhook {
	.events.fields {
		.column {
			padding-left: 40px;
		}
	}
}

// Mobile
@media (max-width: 1020px) {
	.user.signin,
	.user.signup {
		form {
			.header {
				padding-left: 1em !important;
			}
		}
	}
	.repo-form {
		margin: 0 !important;
	}
}