.home {
	padding-bottom: @footer-margin * 2;

	.logo {
		margin-bottom: @20;
	}

	.hero {
		h1 {
			font-size: 4.5em;
		}

		h2 {
			margin-top: 0;
			font-size: 2em;
		}
	}
}

.prompt {
	&.box {
		border-radius: 10px !important;
		padding: 50px;
		margin-top: 30px !important;
	}
}

.signup {
	padding-top: @15;
	padding-bottom: @footer-margin * 2;
}

.home-main {
	p {
		font-size: 16px;
    	color: #586069;
	}
	.ui.icon.header {
		font-weight: 400;
	}
	&.bg {
		background: url(https://cdn.jsdelivr.net/npm/gitote@1.0.7/img/signup_prompt.png), #f3f3f3;
		background-position: top center,0 0;
		background-size: 100% auto;
	}
	.align {
		margin-top: 1em;
	}
	.desc {
		padding-right: 8em;
		padding-left: 8em;
		font-family: monospace !important;
		font-size: 1.2em;
	}
	&.btn {
		&.home {
			margin-top: 50px;
			margin-left: 8px;
			margin-right: 8px;
		}
		
		&.register {
			background: #00cf6a !important;
			border-radius: 2em !important;
			height: 2.5em;
			text-transform: uppercase;
			font-size: 12px;
			letter-spacing: 0.03em;

			&:hover {
				color: #f5f5f5 !important;
			}
		}
		
		&.signin {
			text-transform: uppercase;
			font-size: 12px;
			letter-spacing: 0.03em;
		}
	}
	&.prompt {
		background-image: url(https://cdn.jsdelivr.net/npm/gitote@1.0.1/img/pattern.svg);
		background-position: center 30%;
		background-size: 25% auto;
		background-color: #f3f3f3;
		padding-top: @25;
		padding-bottom: 12px;
	}
	&.padding {
		padding-top: 4em;
		padding-bottom: 4em;
	}
	&.getstarted {
		background: @primary !important;
	
		h1 {
			color: @white;
			font-weight: 400;
			padding-top: 1em;
			padding-bottom: 1em;
		}
	}
	&.gradient-bg {
		background-image: linear-gradient(180deg,hsla(0,0%,100%,0) 50%,#fff),linear-gradient(70deg,#eaf5ff 32%,#f6fff8);
	}
}

.home-head {
	padding-top: 6.9em !important;
	padding-bottom: 6.9em !important;
}

// Mobile
@media (max-width: 1020px) {
	.home-main {
		&.bg {
			background: url(https://cdn.jsdelivr.net/npm/gitote@1.0.1/img/pattern.svg), #f3f3f3;
		}
		.desc, &.prompt {
			display: none !important;
		}
	}
}
