.error {
    &.align {
        margin-top: 100px;
        margin-bottom: 50px;
    }

    img {
        height: 150px;
    }
    
    &.footer {
        margin-top: 40px;
        
        a {
            color: #777777;
        }
        
        span {
            margin-left: @5;
            margin-right: @5;
            color: #777777;
        }
    }
    
    &.image {
        height: 35px;
        margin-top: 35px;
    }
}

// Mobile
@media (max-width: 1020px) {
    .error {
        &.footer {
            font-size: 11px;
        }
    }
}