{{template "base/head" .}}
{{if not .IsLogged}}
	{{template "misc/signup_prompt" .}}
{{end}}
<div class="organization profile">
	<div class="ui container">
		<div class="ui grid">
			<div class="ui sixteen wide column">
				<img class="ui left" id="org-avatar" src="{{.Org.RelAvatarLink}}?s=140"/>
				<div id="org-info">
					<div class="ui header">
						{{.Org.DisplayName}}
						{{if .Org.IsVerified}}
							<span style="padding:3px" class="ui green basic label tiny">Verified</span>
						{{end}}
					</div>
					{{if .Org.Description}}
						<p class="desc">{{.Org.Description}}</p>
					{{else}}
						<i class="text grey meta">{{.i18n.Tr "org.no_org_desc"}}</i>
					{{end}}
					<div class="text grey meta">
						{{if .Org.Location}}<div class="item"><i class="menu-icon octicon">📍</i> <span>{{.Org.Location}}</span></div>{{end}}
						{{if .Org.Website}}<div class="item"><i class="menu-icon octicon">🔗</i> <a target="_blank" rel="noopener noreferrer" href="{{.Org.Website}}">{{.Org.Website}}</a></div>{{end}}
					</div>
				</div>

			</div>
		</div>
	</div>

	<div class="ui divider"></div>

	<div class="ui container">
		<div class="ui grid">
			<div class="ui eleven wide column">
				{{if .IsOrganizationOwner}}
					<div class="text right">
						{{if .IsOrganizationOwner}}
							<a class="ui blue basic button" href="{{.OrgLink}}/settings"><i class="octicon octicon-repo-create"></i> {{.i18n.Tr "settings"}}</a>
						{{end}}
						<a class="ui green button" href="{{AppSubURL}}/repo/create?org={{.Org.ID}}"><i class="octicon octicon-repo-create"></i> {{.i18n.Tr "new_repo"}}</a>
					</div>
					<div class="ui divider"></div>
				{{end}}
				{{template "explore/repo_list" .}}
				{{template "explore/page" .}}
			</div>

			<div class="ui five wide column">
				<div class="ui top attached header">
					<strong><i class="menu-icon octicon">👦</i> {{.i18n.Tr "org.people"}}</strong>
					{{if .IsOrganizationMember}}
						<div class="ui right">
							<a class="text grey" href="{{.OrgLink}}/members">{{.Org.NumMembers}} <span class="octicon octicon-chevron-right"></span></a>
						</div>
					{{end}}
				</div>
				<div class="ui attached segment members">
					{{$isMember := .IsOrganizationMember}}
					{{range .Members}}
						{{if or $isMember (.IsPublicMember $.Org.ID)}}
							<a class="ui image" href="{{.HomeLink}}" title="{{.Name}}{{if .FullName}} ({{.FullName}}){{end}}"><img class="ui avatar" src="{{.RelAvatarLink}}"></a>
						{{end}}
					{{end}}
				</div>
				{{if .IsOrganizationOwner}}
					<div class="ui bottom attached segment">
						<a class="ui blue small button" href="{{.OrgLink}}/invitations/new">{{.i18n.Tr "org.invite_someone"}}</a>
					</div>
				{{end}}

				{{if .IsOrganizationMember}}
					<div class="ui top attached header">
						<strong><i class="menu-icon octicon">👯</i> {{.i18n.Tr "org.teams"}}</strong>
						<div class="ui right">
							<a class="text grey" href="{{.OrgLink}}/teams"><span>{{.Org.NumTeams}}</span> <span class="octicon octicon-chevron-right"></span></a>
						</div>
					</div>
					<div class="ui attached table segment teams">
						{{range .Teams}}
							<div class="item">
								<a href="{{$.OrgLink}}/teams/{{.LowerName}}"><strong class="team-name">{{.Name}}</strong></a>
								<p class="text grey">{{.NumMembers}} {{$.i18n.Tr "org.lower_members"}} · {{.NumRepos}} {{$.i18n.Tr "org.lower_repositories"}}</p>
							</div>
						{{end}}
					</div>
					{{if .IsOrganizationOwner}}
						<div class="ui bottom attached segment">
							<a class="ui blue small button" href="{{.OrgLink}}/teams/new">{{.i18n.Tr "org.create_new_team"}}</a>
						</div>
					{{end}}
				{{end}}
			</div>
		</div>
	</div>
</div>
{{template "base/footer" .}}
