<div class="four wide column">
	<div class="ui vertical menu navbar">
		<div class="header item">{{.i18n.Tr "explore"}}</div>
		<a class="{{if .PageIsTrending}}active{{end}} item" href="{{AppSubURL}}/trending">
			<i class="menu-icon octicon">🔥</i>&nbsp; {{.i18n.Tr "explore.trending"}}
			<span class="ui green basic label small">Beta</span>
		</a>
		<a class="{{if .PageIsExploreRepositories}}active{{end}} item" href="{{AppSubURL}}/explore/repos">
			<i class="menu-icon octicon">📁</i>&nbsp; {{.i18n.Tr "explore.repos"}}
		</a>
		<a class="{{if .PageIsExploreUsers}}active{{end}} item" href="{{AppSubURL}}/explore/users">
			<i class="menu-icon octicon">👦</i>&nbsp; {{.i18n.Tr "explore.users"}}
		</a>
		<a class="{{if .PageIsExploreOrganizations}}active{{end}} item" href="{{AppSubURL}}/explore/organizations">
			<i class="menu-icon octicon">🏢</i>&nbsp; {{.i18n.Tr "explore.organizations"}}
		</a>
		{{if .IsAdmin}}
		{{/** WIP - Beta **/}}
		<a class="item" href="{{AppSubURL}}/explore/issues">
			<i class="menu-icon octicon">📑</i>&nbsp; {{.i18n.Tr "explore.issues"}}
			<span class="ui violet basic label small">ToDo</span>
		</a>
		{{end}}
	</div>
</div>
