{{template "base/head" .}}
<div class="explore users">
	<div class="ui container">
		<div class="ui grid">
			{{template "explore/navbar" .}}
			<div class="twelve wide column content">
				{{template "explore/search" .}}
				{{if .Keyword}}
					<div class="ui user list">
						{{if not .Users}}
						<center>
							<div class="not-found">
								<span class="big-emoji">🔍</span>
								<br/>
								<h2>{{$.i18n.Tr "explore.error.noorgs"}} <span style="color:#616161">'{{.Keyword}}'</span></h2>
							</div>
						</center>
						{{end}}
						
						{{range .Users}}
							<div class="item">
							  <img class="ui avatar image" src="{{.RelAvatarLink}}">
							  <div class="content">
									{{if .FullName}}
							  		<span class="header"><a href="{{.HomeLink}}">{{.FullName}}</a> {{.Name}}</span>
									{{else}}
										<span class="header"><a href="{{.HomeLink}}">{{.Name}}</a></span>
									{{end}}
							    <div class="description">
										{{if .Location}}
											<i class="menu-icon octicon">📍</i> {{.Location}}
										{{end}}
										{{if and .Website}}
											{{if .Location}}
												<span style="margin-left:10px"><i class="menu-icon octicon">🔗</i> <a href="{{.Website}}" rel="nofollow">{{.Website}}</a></span>
											{{else}}
												<i class="menu-icon octicon">🔗</i> <a href="{{.Website}}" rel="nofollow">{{.Website}}</a>
											{{end}}
										{{end}}
							    </div>
							  </div>
							</div>
						{{end}}
						{{template "explore/page" .}}
					</div>
				{{else}}
					<center>
						<div class="explore">
							<div class="not-found">
								<img class="ui avatar small image" src="https://cdn.jsdelivr.net/npm/gitote@1.1.5/img/svg/folder.svg">
								<br/>
								<h2>{{.i18n.Tr "explore.orgsearch"}}</h2>
							</div>
						</div>
					</center>
				{{end}}
			</div>
		</div>
	</div>
</div>
{{template "base/footer" .}}
