<div class="ui repository list">
	{{if not .Repos}}
		{{if .PageIsUserProfile}}
		<center>
			<div class="explore">
				<div class="not-found">
					<img class="ui avatar small image" src="https://cdn.jsdelivr.net/npm/gitote@1.1.5/img/svg/folder.svg">
					<br/>
					<h2>{{.Owner.Name}} {{$.i18n.Tr "user.error.norepos"}}</h2>
				</div>
			</div>
		</center>
		{{end}}

		{{if .PageIsExplore}}
		<center>
			<div class="not-found">
				<span class="big-emoji">🔍</span>
				<br/>
				<h2>{{$.i18n.Tr "explore.error.norepos"}} <span style="color:#616161">'{{.Keyword}}'</span></h2>
			</div>
		</center>
		{{end}}
	{{end}}

	{{if not .Repos}}
		{{if .PageIsOrgHome}}
			<div class="ui center dashboard no-activity">
				<img class="ui avatar small image" src="https://cdn.jsdelivr.net/npm/gitote@1.1.5/img/svg/folder.svg">
				<br/>
				<h2>No Repository</h2>
			</div>
		{{end}}
	{{end}}

	{{range .Repos}}
		<div class="item">
			<div class="ui grid">
				<div class="ui two wide column middle aligned center">
					{{if .RelAvatarLink}}<img class="ui tiny image" src="{{.RelAvatarLink}}">{{else}}<i class="mega-octicon octicon-repo"></i>{{end}}
				</div>
				<div class="ui fourteen wide column no-padding-left">
					<div class="ui header">
						<a class="name" href="{{AppSubURL}}/{{if .Owner}}{{.Owner.Name}}{{else if $.Org}}{{$.Org.Name}}{{else}}{{$.Owner.Name}}{{end}}/{{.Name}}">{{if $.PageIsExplore}}{{.Owner.Name}} / {{end}}{{.Name}}</a>
						{{if .IsPrivate}}
							<span class="text gold"><i class="octicon octicon-lock"></i></span>
						{{else if .IsFork}}
							<span><i class="octicon octicon-repo-forked"></i></span>
						{{else if .IsMirror}}
							<span><i class="octicon octicon-repo-clone"></i></span>
						{{end}}

						<div class="ui right metas">
							<span class="text grey"><i class="menu-icon octicon">⭐</i> {{.NumStars}}</span>
							<span class="text grey"><i class="menu-icon octicon">🌵</i> {{.NumForks}}</span>
						</div>
					</div>
					{{if .Description}}<p class="has-emoji">{{.Description | Str2html}}</p>{{end}}
					<p class="time"><i style="font-size:11px" class="menu-icon octicon">🕒</i> {{$.i18n.Tr "org.repo_updated"}} {{TimeSince .Updated $.i18n.Lang}}</p>
				</div>
			</div>
		</div>
	{{end}}
</div>
