{{template "base/head" .}}
<div class="explore users">
	<div class="ui container">
		<div class="ui grid">
			{{template "explore/navbar" .}}
			<div class="twelve wide column content">
				{{template "explore/search" .}}
				{{if .Keyword}}
					<div class="ui user list">
						{{if not .Users}}
						<center>
							<div class="not-found">
								<span class="big-emoji">🔍</span>
								<br/>
								<h2>{{$.i18n.Tr "explore.error.nousers"}} <span style="color:#616161">'{{.Keyword}}'</span></h2>
							</div>
						</center>
						{{end}}
	
						{{range .Users}}
							<div class="item">
	                            <img class="ui avatar image explore-page" src="{{.RelAvatarLink}}">
	                            <div class="content">
									{{if .FullName}}
							  		<span class="header">
											<a href="{{.HomeLink}}">
												{{.FullName}}
												{{if .IsVerified}}<a class="poping up"><i class="verified v-explore octicon octicon-verified"></i></a>{{end}}
												{{if .IsMaker}}<a class="poping up"><i class="maker m-explore octicon octicon-paintcan"></i></a>{{end}}
											</a>
											<span class="username">{{.Name}}</span>
										</span>
									{{else}}
										<span class="header"><a href="{{.HomeLink}}">{{.Name}}</a></span>
									{{end}}
							        <div class="description user-explore-details">
	                                    {{if .Location}}
	                                        <i class="menu-icon octicon">📍</i> {{.Location}}
	                                    {{end}}
	                                    {{if and .Email $.IsLogged}}
	                                        {{if .Location}}
	                                            <span style="margin-left:10px"><i class="menu-icon octicon">📧</i> <a href="mailto:{{.Email}}" rel="nofollow">{{.Email}}</a></span>
	                                        {{else}}
	                                            <i class="menu-icon octicon">📧</i> <a href="mailto:{{.Email}}" rel="nofollow">{{.Email}}</a>
	                                        {{end}}
	                                    {{end}}
							        </div>
							    </div>
							</div>
						{{end}}
					</div>
					{{template "explore/page" .}}
				{{else}}
					<center>
						<div class="explore">
							<div class="not-found">
								<img class="ui avatar small image" src="https://cdn.jsdelivr.net/npm/gitote@1.1.5/img/svg/folder.svg">
								<br/>
								<h2>{{.i18n.Tr "explore.usersearch"}}</h2>
							</div>
						</div>
					</center>
				{{end}}				
			</div>
		</div>
	</div>
</div>
{{template "base/footer" .}}
